*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root{
    --text:#6A517B;
    --nav:#FAD4D8;
    --background:#FAD4D8;
    --border:#9DBF9B;
    /* #827191; */
    
    --navtext:#6A517B;
    
}

body{
    background-color: var(--background);
    color:var(--text);
}

#top-section{
    display:flex;
    justify-content: space-around;
    margin:30px;
   ;
}


nav{
    display:flex;
    justify-content: space-evenly;
    width: 50%;
    background-color:var(--nav) ;
    padding:20px;
    border-radius: 10px;
    border: 5px solid var(--border)
    


}
h1{
    font-size:40px;
    padding:20px;
}

a{
    text-decoration: none;
    color: var(--navtext);
    font-size:30px;
    font-weight: bold;
}

/* Make the images animation scrolling? */
#middle-section{
    margin:50px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 30px;
    
}

p{
    padding:50px;
    margin:50px;   
    border:5px solid var(--border) ;
    border-radius:10px;
}

img{
    padding: 30px;
    border: 5px solid var(--border);
}

footer{
    padding:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}